In [101]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [102]:
from random import randint

In [103]:
ll=[]

In [104]:
for i in range(1,101):
    l1.append(randint(0,5))
    l1.append(randint(0,5))
    l1.append(randint(0,5))
    l1.append(randint(0,5))
    l1.append(randint(0,5))

In [105]:
print(l1)

[1, 1, 3, 1, 0, 0, 5, 5, 0, 2, 5, 3, 4, 3, 1, 1, 0, 5, 0, 5, 1, 0, 2, 1, 0, 4, 4, 5, 1, 0, 1, 0, 0, 0, 1, 5, 3, 3, 4, 5, 2, 4, 3, 4, 2, 0, 3, 2, 4, 0, 2, 0, 2, 4, 5, 5, 3, 4, 1, 2, 0, 0, 1, 1, 0, 5, 4, 5, 5, 3, 1, 4, 2, 0, 5, 3, 1, 0, 0, 3, 1, 0, 0, 5, 4, 5, 4, 4, 5, 2, 3, 4, 0, 2, 1, 0, 3, 5, 1, 2, 0, 3, 1, 0, 1, 0, 4, 1, 5, 5, 1, 1, 1, 1, 5, 2, 4, 3, 1, 3, 3, 2, 4, 1, 0, 1, 3, 1, 0, 4, 1, 4, 5, 5, 2, 0, 4, 1, 1, 3, 0, 0, 2, 1, 5, 4, 4, 1, 3, 4, 5, 5, 2, 1, 2, 3, 3, 4, 4, 3, 0, 4, 5, 3, 3, 2, 4, 3, 1, 5, 4, 4, 2, 2, 1, 2, 2, 0, 5, 3, 3, 2, 3, 5, 0, 2, 0, 2, 5, 1, 4, 3, 5, 5, 3, 3, 0, 0, 1, 1, 0, 1, 5, 4, 0, 3, 2, 3, 3, 3, 4, 1, 0, 5, 2, 0, 5, 3, 0, 3, 1, 1, 5, 3, 1, 0, 4, 3, 3, 4, 1, 2, 5, 2, 1, 1, 4, 1, 2, 5, 2, 2, 3, 2, 2, 2, 1, 3, 5, 0, 1, 2, 4, 0, 4, 2, 5, 1, 0, 5, 3, 2, 5, 5, 4, 1, 0, 3, 3, 0, 2, 2, 4, 1, 3, 2, 5, 0, 2, 5, 4, 1, 4, 2, 1, 2, 4, 2, 1, 2, 0, 5, 4, 0, 3, 5, 5, 2, 1, 0, 5, 4, 5, 1, 5, 1, 3, 1, 3, 3, 2, 3, 0, 3, 1, 0, 3, 0, 2, 5, 5, 2, 5, 2, 5, 5, 2, 3, 3, 1, 0, 2, 0, 1, 0, 2, 5, 5, 0, 3, 3, 4, 0, 3, 1, 2, 5, 4, 0, 3, 0, 3, 1, 4, 1, 1, 5, 2, 2, 1, 4, 2, 5, 5, 5, 2, 2, 0, 0, 3, 0, 3, 2, 4, 1, 3, 1, 5, 0, 4, 5, 0, 5, 5, 1, 1, 3, 1, 3, 4, 0, 0, 0, 1, 2, 0, 3, 2, 5, 5, 3, 5, 5, 0, 1, 4, 1, 3, 2, 5, 1, 0, 4, 2, 0, 0, 5, 2, 5, 4, 5, 5, 0, 2, 0, 1, 5, 0, 5, 4, 5, 5, 3, 2, 3, 3, 1, 1, 5, 2, 3, 2, 1, 4, 5, 0, 4, 5, 4, 3, 4, 1, 5, 5, 3, 4, 1, 5, 4, 4, 5, 5, 2, 0, 1, 4, 0, 1, 2, 3, 0, 2, 0, 0, 3, 2, 3, 4, 0, 5, 0, 5, 3, 5, 2, 2, 4, 2, 0, 4, 2, 2, 4, 5, 1, 5, 5, 0, 0, 5]

In [100]:
#l1.clear()

In [106]:
arr=np.array(l1).reshape(100,5)

In [107]:
t=[]
for i in range(0,100):
    a=0
    for j in range(0,5):
        a=a+arr[i][j]
    a=a/5
    if(a>3):
        t.append(1)
    else:
        t.append(0)

In [99]:
#t.clear()

In [108]:
df=pd.DataFrame(arr)

In [109]:
df

    0  1  2  3  4
0   1  1  3  1  0
1   0  5  5  0  2
2   5  3  4  3  1
3   1  0  5  0  5
4   1  0  2  1  0
.. .. .. .. .. ..
95  2  3  4  0  5
96  0  5  3  5  2
97  2  4  2  0  4
98  2  2  4  5  1
99  5  5  0  0  5

[100 rows x 5 columns]

In [110]:
#LOK -> Level Of Knowledge
df.columns=["LOK in Python","LOK in ML","LOK in AI","LOK in DL","LOK in SQL"]

In [111]:
df['Target']=t

In [112]:
df

    LOK in Python  LOK in ML  LOK in AI  LOK in DL  LOK in SQL  Target
0               1          1          3          1           0       0
1               0          5          5          0           2       0
2               5          3          4          3           1       1
3               1          0          5          0           5       0
4               1          0          2          1           0       0
..            ...        ...        ...        ...         ...     ...
95              2          3          4          0           5       0
96              0          5          3          5           2       0
97              2          4          2          0           4       0
98              2          2          4          5           1       0
99              5          5          0          0           5       0

[100 rows x 6 columns]

In [113]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [117]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.2,random_state=0)

In [119]:
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_tr,y_tr)
print("Training score:",model.score(x_tr,y_tr))
print("Testing Score:",model.score(x_te,y_te))

Training score: 0.9625
Testing Score: 0.95

In [126]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
model=KNeighborsClassifier(3)
model.fit(x_tr,y_tr)
y_pred=model.predict(x_te)
print("Accuracy is : ",accuracy_score(y_pred,y_te))

Accuracy is :  0.85

In [127]:
print(confusion_matrix(y_pred,y_te))

[[15  3]
 [ 0  2]]

In [128]:
print(classification_report(y_pred,y_te))

              precision    recall  f1-score   support

           0       1.00      0.83      0.91        18
           1       0.40      1.00      0.57         2

    accuracy                           0.85        20
   macro avg       0.70      0.92      0.74        20
weighted avg       0.94      0.85      0.88        20